build
.gradle
taskManager.trace.db
taskManager.mv.db
derby.log
src/main/generated
gerby.log
node
frontend/build
frontend/node_modules

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/